.interactionTextArea {
  width: 100%;
}

body {
  background:#3593ea;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.ui.grid>.row>.black.column {
    padding-bottom: 2rem;
}

button {
  box-sizing: border-box!important;
}

.white{
  background:#fff!important;
}

.button:hover {
  border: 3px solid black;
  box-sizing: border-box!important;
}

#root {
  height: 100%;
}

.editForm {
  min-height: 100%;
}

.myGrid {
  height: 1000px;
}

.actionsPane{
  margin-top: 10px;
}

.vertDividerLeft{
  border-left: 1px!important;
}
.activeCompany{
  height: 200px;
  width: 100%;
  overflow-y: auto;
}

.row {
  padding:0!important;
}

.activeCompanyFeed{
  height: 300px;
  width: 100%;
  overflow-y: auto;
}

.companiesList{
  height: 870px;
  overflow-y: auto;
  margin-top: 30px!important;
  padding-right: 10px;
  border-right: 1px;
  border-style: solid;
  border-color: #727272;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
}

.activeCompanyContainer{
  height: 850px;
  min-height:850px;
  max-height: 850px;
  margin-top:30px!important;
}

.profileColumns{
  height: 100%!important;
}

.profileOuterColumns{
  height: 850px;
  margin-top:14px!important;
  background: #3593ea;
}

.userProfile{
  padding-top: 40px;
}

.profileContainer{
  align-items: center!important;
  justify-content: center!important;
  align-self: center!important;
  width: 50%!important;
  flex: 1;
}

.noPadding{
  padding: 0px!important;
}

.profileRow{
  margin-top: 0px!important;
  margin-bottom: 0px!important;
  padding-top: 0px!important;
}
.whiteText{
  color: #FFFFFF!important;
}

.editForm{
  padding-top: 40px;
}

.loginForm{
  padding-top: 40px;
}

.navBar{
  float: left!important;
  height: 40px;
}

.itemActive{
  padding-top: 20px!important;
}
.itemInactive{
  background-color: grey!important;
}

.companyImageContainer{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbno_YUEIUn7sd8IHybhBPb9KjcZgdS1BGSIyeX6ltyDo5KwIkDQ');
  height: 128px;
  width: 128px;
  background-size: 100% 100%;
  padding-right: 30px!important;
}

.companyImageContainerActive{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbno_YUEIUn7sd8IHybhBPb9KjcZgdS1BGSIyeX6ltyDo5KwIkDQ');
  height: 200px;
  width: 200px;
  background-size: 100% 100%;
  padding-right: 30px!important;
  overflow: hidden;
}

.errorsContainer{
  height:200px;
  padding-top: 40px
}

.activeCompanyContents{
  padding-left: 30px!important;
}

.companyContents{
  padding-left: 10px!important;
}

@media (max-width: 768px) {
  body {
    background: pink!important;
  }
}
